# name: Push docker image to Azure registry and deploy image to Azure to prod

# on:
#   push:
#     branches:
#       - master

#     tags:
#       - v*

#   pull_request:

# env:
#   AZURE_WEB_APP_NAME: fa-admin-api-prod
#   IMAGE_NAME: adminpanelapi
#   IMAGE_ID: adminpanelapi
#   AZURE_WEB_APP_URL: https://fa-admin-api-prod.azurewebsites.net
#   AZURE_REGISTRY: fadockerregistry.azurecr.io

# jobs:
#   docker-push:
#     runs-on: ubuntu-18.04
#     if: github.event_name == 'push'

#     steps:
#       - uses: actions/checkout@v2

#       - uses: azure/docker-login@v1
#         with:
#           login-server: ${{ env.AZURE_REGISTRY }}
#           username: ${{ secrets.PROD_AZURE_REGISTRY_LOGIN }}
#           password: ${{ secrets.PROD_AZURE_REGISTRY_PASSWORD }}
#       - run: |
#             VERSION=${{ github.sha }}
#             docker image ls -a
#             docker build . --file Api/Dockerfile --tag $IMAGE_NAME
#             docker tag $IMAGE_NAME $AZURE_REGISTRY/$IMAGE_ID:$VERSION
#             docker push $AZURE_REGISTRY/$IMAGE_ID:$VERSION

#   deploy-to-prod-azure:
#     needs: docker-push
#     name: Deploy App to Azure for production environment
#     runs-on: ubuntu-18.04

#     steps:
#       - name: Run Azure webapp deploy action using publish profile credentials
#         uses: azure/webapps-deploy@v2
#         with:
#           app-name: ${{ env.AZURE_WEB_APP_NAME }}
#           publish-profile: ${{ secrets.PROD_AZURE_WEBAPP_PUBLISH_PROFILE }}
#           images: "${{ env.AZURE_REGISTRY }}/${{ env.IMAGE_ID }}:${{ github.sha }}"